<div class="container text-right">
  <small>
    <em>
      All Images and Original Text © Rishul Bangar
      &nbsp;
    </em>
  </small>

  <a href="https://www.instagram.com/explorishh/" style="color:initial">
    <i class="fab fa-instagram"></i>&nbsp;
  </a>

  <a href="https://www.facebook.com/explorishh/" style="color:initial">
    <i class="fab fa-facebook-square"></i>&nbsp;
  </a>

  <a href="https://www.youtube.com/channel/UCawXAE6ajTPvtrOvll2gwsw" style="color:initial">
    <i class="fab fa-youtube"></i>&nbsp;
  </a>
</div>