<div class="container title">
  <h1>Rishul Bangar</h1>
  <h2>Architectural & Commercial Photographer</h2>
</div>

<div class="container" style="">
<hr style="width:80%">
<nav class="navbar navbar-expand-lg navbar-light" style="padding: .5rem 0rem !important;">
  <!-- <a class="navbar-brand" href="#"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ range .Site.Menus.nav }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
</div>


<!-- <div class="container" style="">
    <hr style="width:80%">
    <nav class="custom-navbar">

        {{ range .Site.Menus.nav }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}

    </nav>
</div> -->